<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
     body { text-align:center;font-family:helvetica,arial;font-size:22px;
     color:#888;margin:20px}
     #c {margin:0 auto;width:500px;text-align:left}
     </style>
    <meta charset="utf-8">
    <title>Pig Latin</title>
  </head>
  <body>
    <h1><%=@piglatin.piglatinize(@piglatin.text)%> </h1>
  </body>
</html>
